html {
  font-size: 15px;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.outer{
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* style d'écriture du nom*/
#nom{
  font-family:'Courier New'; 
  font-size: 5rem;
}

/* couleur bouton ajouer/retirer amis */
.btn-active {
  background-color: black;
  color: white;
  border-color: black;
}

/* taille des logo */
.info img{
  height: 3rem;
}

/* séance calendrier */
.seance_cal{
  background-color: orange;
}

/* transition inscription */
.green{
  background-color: greenyellow;
}
.transition_bg{
  transition: background-color 1s ease-in-out;
}