html {
  font-size: 15px;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.outer{
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* style page lieu */
.fav-icon {
  width: 35px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
}